@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

.comfortaa {
    font-family: 'Comfortaa';
}

.btn, button {
    font-family: 'Comfortaa';
}


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #64d370;
    --bs-btn-border-color: #64d370;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5dc467;
    --bs-btn-hover-border-color: #55b45f;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #55b45f;
    --bs-btn-active-border-color: #4ba053;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #64d370;
    --bs-btn-disabled-border-color: #64d370;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

* {
    /* color: #020202 !important; */
}
body {
    line-height: 1.3;
    font-family: 'Montserrat';
}

.bg-main {
    /* background-color: grey; */
    background-color: #F5FAFF;
}

.bg-primary {
    background-color: #64D370 !important;
}

.text-primary {
    color: #64D370 !important;
}
.bg-light {
    background-color: #F5FAFF !important;
}
.text-light {
    color: #F5FAFF !important;
}
.navbar-collapse {
    flex-grow: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa' !important;
}

.nav-link:hover {
    color: #64D370;
}
.didi:hover {
    color: #000000 !important;
}


.custom-responsive-margin {
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 768px) and (max-width: 1919px) {
    .custom-responsive-margin {
        margin-left: calc(39px + (370 - 39) * ((100vw - 768px) / (1920 - 768)));
        margin-right: calc(39px + (370 - 39) * ((100vw - 768px) / (1920 - 768)));
    }
}

@media (min-width: 1920px) {
    .custom-responsive-margin {
        margin-left: 370px;
        margin-right: 370px;
    }
}


.hero-icons {
    height: 100%; 
}


.hero-icon {
    // height: max-content;
    // width: max-content;
    aspect-ratio: 1;

    // height: max-content;

    // margin: 50px;
    font-family: 'Comfortaa'; 
}

// .icon-img {
//     width: 100%;
//     height: 100%;
// }

.icon-ccal {
    font-weight: 700;
    font-size: 20px;
}

.icon-table {
    font-weight: 300;
    font-size: 26px;
    line-height: 1;
}


.carousel-caption {
    left: 0;
    text-align: start;
    width: 38%;
    /* top: auto; */
    bottom: auto;
    align-items: center;
    margin-right: 0 !important;
    color: 0;

    top: 50%;
    transform: translateY(-50%);
}

.carousel-img-box {
    width: 38%;
    float: right;
}

.carousel-panel {
    position: absolute;
    bottom: 10%;
    width: 100%;
    justify-content: center;
}

.carousel-indicators {
    margin: auto 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2364D370'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2364D370'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e");
}


:root, [data-bs-theme=light] {
    --bs-carousel-indicator-active-bg: #64D370;
    --bs-carousel-caption-color: #000000;
}

.nav {
    --bs-nav-link-hover-color: #64D370;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #64D370;
    --bs-nav-link-color: #000000;
}


.services {
    height: 220;
    background-color: rgba(245, 250, 255, 0.8);
}

.services-item {
    flex: 1;
}

.form-label {
    /* color:  */
}

.form-control {
    background-color: #DEE6EE;
}

.invert-button {
    border-color: #64D370;
}

.multi-carousel-container {
    overflow: hidden;
    padding: 20px 100px;
    position: relative;
    margin: 50px auto;
    // max-width: 1400px;
}

.multi-carousel-track {
    display: flex;
    transition: transform 0.8s ease;
    gap: 20px;
}

.multi-carousel-item {
    flex: 0 0 calc(25% - 15px);
    min-width: calc(25% - 15px);
}

.multi-demo-card {
    background: transparent;
    border-radius: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.multi-demo-card h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Адаптивность */
@media (max-width: 768px) {
    .multi-carousel-container {
        padding: 0 40px;
    }
    
    .multi-carousel-item {
        flex: 0 0 calc(50% - 10px);
        min-width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .multi-carousel-container {
        padding: 0 20px;
    }
    
    .multi-carousel-item {
        flex: 0 0 calc(100% - 10px);
        min-width: calc(100% - 10px);
    }
}


.accordion-button:focus {
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-button:not(.collapsed) {
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}





.accordion-item {

}

.footer-inner-s {
    /* font-weight: bold; */
}
.footer-inner-r {
    /* font-weight: bold; */
}

/* @media (min-width: 1400px) {
    header {
        padding: 0 370px;
    }
} */
/* .navbar {
    margin-right: 0 !important;
    margin-left: 0 !important;
} */
/* body {
    background-image: url('images/GreenEllipse.png');
    background-position: top right;
    background-repeat: no-repeat;

    background-image: url('images/GreenEllipse.png');
    background-position: +100px -200px;
    background-position: top right;
    background-size: cover;
} */

/* @media (min-width: 768px) {
    body {
        background-image: url('images/FullBg.png');
        background-position: top right;
    }
} */
/* .background-mobile {
    top: -500px;
    right: -250px;
    width: 1000px;
    height: 1000px;
    background-image: url('images/GreenEllipse.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
} */